*.pyc
db.sqlite3
.env
.env-*
req.txt
logs/*.log
admin_scripts/*.log
admin_scripts/backup_ec2.py
admin_scripts/new_backup_ec2.py
admin_scripts/old_backup_ec2.py
req2.txt
scripts/check_entries.py
scripts/delete_bt_customer.py
scripts/fix_offers.py
scripts/make_brcme.py
scripts/make_notification.py
scripts/make_plots.py
scripts/make_srcme.py
scripts/sort_degrees.py
scripts/updSubsTrans.py
users/new_models.py
users/old_checkout.py
users/oldcode.py
