<div>
    <p>Dear {{ profile.firstName|default:"User" }},</p>
    <p>This is to let you know that your payment method for Orbit has expired:</p>
    <p>Card: {{ card_type }} ending in {{ card_last4 }} expired on {{ expiry }}</p>
    <br />
    <p>Your current annual subscription will end on {{ subscription.billingEndDate|date:"d M Y" }}.</p>
    <p>Please sign in to <a href="http://orbitcme.com">Orbit</a> and update your card information.</p>
    <p>Best regards,</p>
    <p>The Orbit Team</p>
</div>
