{% load tz %}
<div>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>NpiNumber</th>
                <th>Specialty</th>
                <th>Plan Name</th>
                <th>SubscriptionId</th>
                <th>Referred By</th>
                <th>NBCRNA Id</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{ d.email }}</td>
                <td>{{ d.nameAndRole|default:"Not provided" }}</td>
                <td>{{ d.npiNumber }} {% if d.npiNumber %}({{ d.npiType }}){% endif %}</td>
                <td>{{ d.specialties }}</td>
                <td>{{ d.plan_name|default:"" }}</td>
                <td>{{ d.subscriptionId|default:"None" }}</td>
                <td>{{ d.referral|default:"" }}</td>
                <td>{{ d.nbcrnaId }}</td>
                <td>{{ d.country }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% timezone "America/Los_Angeles" %}
    <p>Total number of new user signups going back 24 hours from {% now "D, d N Y H:i e" %}: {{ data|length }}.</p>
    {% endtimezone %}
</div>
