{% comment %}
This snippet is included in the annual subscription renewal reminder emails. It provides a brief summary of the highlights/achievements to date.
Context expected:
    totalCredits: integer
{% endcomment %}
<p>This has been an incredible year for us, thanks to the brilliant providers in Orbit. The Orbit community has earned over {{ totalCredits }} credits for the learning we do everyday at point of care. Together, we introduced specialty certificates (fluoroscopy, opioids, ethics, breast, etc), and expanded regulatory clearance for Orbit to satisfy SAM/SA-CME requirements for the ABR and ABPath.</p>

<p>Our coming year promises to be equally exciting, as we dive into the root causes of physician burnout and push farther into automating paperwork. We're grateful for your support in this journey.</p>
