<div>
    <h4>Orbit Quarterly Report for {{ startDate|date:"d M Y" }} to {{ endDate|date:"d M Y" }} UTC</h4>
    <p>Please review the attached file for the Orbit Participant Report.</p>
    <p>Total number of respondents in this period: {{ numUsers }}</p>
    <h4>Change In Competence</h4>
    <table>
        {% for d in competence %}
        <tr>
            <td>{{ d.value }}</td>
            <td>{{ d.pct|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </table>
    
    <h4>Change In Performance</h4>
    <table>
        {% for d in performance %}
        <tr>
            <td>{{ d.value }}</td>
            <td>{{ d.pct|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </table>
    
    <h4>Change in Clinical Plan?</h4>
    <table>
        {% for d in planEffect %}
        <tr>
            <td>{{ d.value }}</td>
            <td>{{ d.pct|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </table>
    
    <h4>If Yes, How?</h4>
    <table>
        {% for d in planText %}
        <tr>
            <td>{{ d.value }}</td>
            <td>{{ d.pct|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </table>
    <h4>Other changes to Clinical Plan:</h4>
    {% if planTextOther %}
        {% for d in planTextOther %}
            <p>{{ d }}</p>
        {% endfor %}
    {% else %}
        <p>None</p>
    {% endif %}

    <h4>Commercial Bias In Content</h4>
    <table>
        {% for d in commBias %}
        <tr>
            <td>{{ d.value }}</td>
            <td>{{ d.pct|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </table>
    
    <h4>Specialty Tags</h4>
    <table>
        {% for d in tags %}
        <tr>
            <td>{{ d.tagname }}</td>
            <td>{{ d.pct|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </table>
    
    <h4>For what clinical information were you searching?</h4>
    {% for d in descriptions %}
        <p>{{ d }}</p>
    {% endfor %}
    
    <h4>Feedback</h4>
    <p>None in this period</p>
</div>
