{% load tz %}
{% comment %}
Context expected:
    user: User instance (for addressee)
    orgfile: OrgFile instance for the uploaded file
    has_alerts: bool
    fileHasBlankFields: bool
    parseErrors: list of strs for any fatal errors
    preprocessErrors: list of strs for any preprocess errors
    nonmember: list of 3-tuples (NPI, LastName, FirstName)
    num_active: int
    num_nonmember: int
    support_email: email address
{% endcomment %}
<div>
    <p>Dear {{ user.profile.firstName }},
    {% if has_alerts %}
        <p>The License file {{ orgfile.name }} uploaded to Orbit has the following alerts:</p>
    {% else %}
        <p>The License file {{ orgfile.name }} was uploaded to Orbit.</p>
    {% endif %}

    {% if fileHasBlankFields %}
        <p>The file has blank values for some columns. All fields are required. Entries with blank values will be skipped if the file is submitted for processing.</p>
    {% endif %}

    {% if parseErrors %}
    <p>The following <em>fatal</em> errors were detected:</p>
        <ul>
            {% for msg in parseErrors %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if num_active %}
        <p>Number of active providers found in file: {{ num_active }}</p>
    {% endif %}

    {% if nonmembers %}
        <p>The following {{ num_nonmember }} user(s) in the file are not recognized as members of {{ orgfile.organization }}:</p>
        <ul>
            {% for item in nonmembers %}
            <li>{{ item.0 }} {{ item.1 }} {{ item.2 }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if preprocessErrors %}
        <p>The following licenses may not have the correct existing information in the Orbit database. Please review these licenses in Orbit and correct their licenseNumbers and dates.</p>
        <ul>
            {% for msg in preprocessErrors %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if parseErrors %}
        <p>Please review these errors and re-upload an amended file.</p>
    {% elif has_alerts %}
        <p>Please review these warnings and re-upload an amended file as needed.</p>
    {% endif %}

    {% timezone "America/Los_Angeles" %}
    <p>File upload time: {% now "D, d N Y H:i e" %}</p>
    {% endtimezone %}
    {% include "email/mailto_support_snippet.html" %}
</div>
