{% load tz %}
<div>
    <p>User: {{ user.profile.firstName }} {{ user.profile.lastName }} [{{ user.email }}]</p>
    <p>File: {{ orgfile.name }}</p>
    <p>File ID: {{ orgfile.pk }}</p>

    <p>Review the attached file. Log into the server and execute the management cmd: handleUploadRoster with the above File ID.</p>
    <p>The command will process the file and print the results to the console. Log out when you are done.</p>

    {% timezone "America/Los_Angeles" %}
    <p>File upload time: {% now "D, d N Y H:i e" %}</p>
    {% endtimezone %}
</div>
