{% extends 'users/base.html' %}

{% block jshead %}
<script src="https://cdn.auth0.com/js/lock/11.14/lock.min.js"></script>
<script>
    var lock = new Auth0Lock('{{ AUTH0_CLIENTID }}', '{{ AUTH0_DOMAIN }}', {
        auth: {
            redirectUrl: '{{ CALLBACK_URL }}',
            responseType: 'code',
            params: {
                scope: 'openid email'
            }
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
	{% if user and not user.is_anonymous %}
        <h1>Welcome, {{ user }}.</h1>
    {% else %}
        <h1>Please Sign in</h1>
    {% endif %}
	{% if user and not user.is_anonymous %}
        <ul>
            <li><a href="{% url 'ss-home' %}">Home</a></li>
            <li><a href="{% url 'ss-logout' %}">Logout</a></li>
        </ul>
        {% else %}
            <button onclick="lock.show();">Login</button>
    {% endif %}
</div>
{% endblock %}
